.router-link-exact-active[data-v-9b2225a6]{color:#34b1b1}.modal .router-link-exact-active[data-v-9b2225a6]{color:#3f3e3e}.overlay[data-v-9b2225a6]{opacity:.65}@media screen and (min-width:768px){.parent:hover .child[data-v-9b2225a6]{height:auto;opacity:1;overflow:hidden;transform:translateY(0)}.child[data-v-9b2225a6]{height:0;opacity:0;overflow:hidden;transform:translateY(-10%)}}
