<template>
  <div class="h-full w-full flex-auto overflow-hidden rounded-tl-60">
    <nuxt-img
      format="webp"
      quality="80"
      :src="useAssets(src)"
      :alt="altDescription(alt)"
      sizes="sm:300px md:350px lg:800px"
      class="h-full w-full object-cover object-center"
      loading="lazy" />
  </div>
</template>

<script setup>
  import { SEO_DESCRIPTION } from '~/consts'
  import useAssets from '~/composables/useAssets'

  defineProps({
    src: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      required: true,
    },
  })

  const altDescription = (alt) => {
    return `${alt},${SEO_DESCRIPTION}`
  }
</script>
