@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply w-screen overflow-x-hidden bg-main-bg-white text-main-dark;
}

h1 {
  @apply text-3xl font-bold leading-tight tracking-wider md:text-[60px];
}

p {
  @apply mb-2 text-base leading-relaxed tracking-wide;
}

h2 {
  @apply mb-2 text-xl font-medium leading-snug tracking-wider md:text-2xl md:leading-relaxed;
}

h3 {
  @apply text-xl font-bold leading-snug tracking-wider md:leading-relaxed lg:text-3xl;
}

h4 {
  @apply text-lg font-semibold tracking-wide md:text-xl;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer rounded border-2 border-solid px-6 py-2 text-base tracking-wide;
  }

  .btn-lg {
    @apply px-16 py-2 text-base tracking-wide md:text-xl;
  }
  .btn-primary {
    @apply border-primary bg-primary text-white transition-colors duration-300 hover:border-[#2F9E9E] hover:bg-[#2F9E9E];
  }

  .btn-secondary {
    @apply border-secondary bg-secondary text-white transition-colors duration-300 hover:border-[#EDBFAE] hover:bg-[#EDBFAE] hover:text-[#8A6659];
  }

  .btn-highlight {
    @apply border-highlight bg-highlight text-main-dark transition-colors duration-300 hover:border-[#EDBFAE] hover:bg-[#EDBFAE] hover:text-[#8A6659];
  }

  .btn-primary-outlined {
    @apply border-primary bg-transparent text-primary transition-colors duration-300 hover:bg-primary hover:text-white;
  }
}
