<template>
  <div>
    <MetaHead :title="title" :description="description" />
    <ListContainer :title="title">
      <AlbumEquipment :data="currentList" />
    </ListContainer>
  </div>
</template>

<script setup>
  import { SNORKELING_ITEMS, SCUBA_DIVING_ITEMS, FREE_DIVING_ITEMS } from '~/consts'
  import { setSeoMeta } from '~/utils/common'

  definePageMeta({ pageTransition: false })

  const { path } = useRoute()

  const { data: page } = await useAsyncData(`content-${path}`, () =>
    queryContent().where({ _path: path }).findOne()
  )

  const title = page.value?.title || ''
  const description = page.value?.description || title

  const getCurrentList = (pagePath) => {
    switch (pagePath) {
      case '/equipment/renting-freediving':
        return FREE_DIVING_ITEMS
      case '/equipment/renting-scubadiving':
        return SCUBA_DIVING_ITEMS
      default:
        return SNORKELING_ITEMS
    }
  }

  const currentList = computed(() => (page.value?._path ? getCurrentList(page.value._path) : []))

  useSeoMeta({ ...setSeoMeta(page) })
</script>
