<template>
  <div class="relative md:flex md:h-[100vh] md:items-center">
    <IndexContact />
    <nuxt-img
      format="webp"
      quality="80"
      src="/images/subtract-front-2.svg"
      :alt="SEO_DESCRIPTION"
      class="absolute right-0 top-[60px] -z-10 hidden opacity-80 md:inline-block" />
    <nuxt-img
      format="webp"
      quality="80"
      src="/images/subtract-back-2.svg"
      :alt="SEO_DESCRIPTION"
      class="absolute bottom-0 left-0 -z-10 hidden opacity-80 md:inline-block" />
  </div>
</template>

<script setup>
  import { SEO_DESCRIPTION } from '~/consts'
</script>
