<template>
  <Head>
    <Title>{{ headTitle }}</Title>
    <Meta name="description" :content="headDescription" />
  </Head>
</template>

<script setup>
  import { SEO_DESCRIPTION } from '~/consts'

  const props = defineProps({
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
  })

  const titleDescription = ref(
    '【龍洞岬】北部水上活動 - 浮潛、水肺潛水、SUP、攀岩、自由潛水裝備租借'
  )

  const headTitle = computed(() => `${titleDescription.value} - ${props.title}`)
  const headDescription = computed(() => `${props.description},${SEO_DESCRIPTION}`)
</script>
