<template>
  <div>
    <MetaHead :title="title" :description="description" />
    <ListContainer :title="title">
      <AlbumCourse :data="childItems" />
    </ListContainer>
  </div>
</template>

<script setup>
  import { setSeoMeta, getCourseList } from '~/utils/common'
  import { PAGE_PATH, CONTENT_QUERY } from '~/consts'

  definePageMeta({ pageTransition: false })

  const { path } = useRoute()

  const { data: page } = await useAsyncData(`content-${path}`, () =>
    queryContent().where({ _path: path }).only(PAGE_PATH).findOne()
  )

  const contentQuery = await queryContent(path).only(CONTENT_QUERY).find()

  const title = page.value?.title || ''
  const description = page.value?.description || title

  const childItems = computed(() => getCourseList({ contentQuery, path }))

  useSeoMeta({ ...setSeoMeta(page.value) })
</script>
