<template>
  <div class="container mx-auto px-6 pb-24 pt-12">
    <BreadcrumbNav />
    <ContentDoc />
  </div>
</template>

<script setup>
  import { PAGE_PATH } from '~/consts'
  import { setSeoMeta } from '~/utils/common'

  const { path } = useRoute()

  const { data: page } = await useAsyncData(`content-${path}`, () =>
    queryContent().where({ _path: path }).only(PAGE_PATH).findOne()
  )

  useSeoMeta({ ...setSeoMeta(page) })
</script>
